@model CrudmvcApp.Models.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h3>Vehicle Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
             Vehicle Reg Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleRegNumber)
        </dd>
        <dt class = "col-sm-2">
             Owner National ID Number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerNationalIdNumber)
        </dd>
        <dt class = "col-sm-2">
            Monthly Insurance Amount
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyInsuranceAmount)
        </dd>
        <dt class = "col-sm-2">
             Date of Registration
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfRegistration)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>